[submodule "srv6ptf_nfagent"]
  path = examples/dumpframe/srv6ptf_nfagent 
  url = https://github.com/shu1r0/srv6ptf_nfagent.git

[submodule "test/netns_network_examples"]
	path = test/netns_network_examples
	url = https://github.com/shu1r0/netns_network_examples.git
